*{
    margin:0;
    padding:0px;
    box-sizing:border-box;
}
body{
    background-image:url("../assets/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-size:110% 100%;
    background-position: center;
    background-attachment: fixed;
    color: #ffffff;
}
.navbar .navbar-brand{
    color:white;
}
.navbar-light .navbar-nav .nav-link {
    color: white !important;
  }
  .discover-box{
    height: 5em;
    width: 5em;
    background-color: #00000f;
 
  }
  