#join-main {
    height: 67%;
}

#left-join {
    padding: 12% 0;
    font-weight: 100;
}

#left-join span {
    color: #fa4480;
}

#right-div {
    background-color: #242424;
    padding: 3% 6.5%;
    padding-top: 4%;
    margin:6% 4%;
    margin-top:0 ;
}

.form-group .form-control {
    background-color: #242424;
    border: 2px solid #3c4043;
    ;
}
#live-div{
    padding:8%;
}