
@keyframes stretchAnimation {
    0% {
        transform: translatey(160%);
    }

    80% {
        transform: translatey(0%)
    }

    90% {
        transform: translatey(5%)
    }

    100% {
        transform: translatey(0%);
    }
}
body{
    
}
#main-section{
    animation : stretchAnimation 1.5s ease-in-out forwards;
    box-sizing: border-box;
}
#join-main {
    animation: stretchAnimation 1.5s ease-in-out forwards ;
}
.col-md-6 img {
    max-width: 100%; /* Set the maximum width to fit the parent container */
    height: auto; /* Maintain the aspect ratio */
}
#left-join {
    font-weight: 100;
    box-sizing: border-box;
}
h2{
    margin:0;
}
.center-divs{
    margin: 0;
    padding: 0;
}
#left-join span {
    color: #416ab3;
}

#right-div {
    background-color: #242424;
    box-sizing: border-box;
}

.form-group .form-control {
    background-color: #242424;
    border: 2px solid #3c4043;
    color: #ffffff ;
}


.btn {
    background-color: #3abfef;
}

small a {
    font-size: larger;
    color: #416ab3;
}